# Configure chainA endpoint to receive messages from chainB
# Uses the same ABI encoding constants from chainA_to_B_send_config.toml
[invoke.lz_set_destination_receive_config]
target = ["<%= settings.chainAEndpointAddress %>"]
abi = "<%= settings.abiSetConfig %>"
from = "<%= settings.foundationOwner %>"
func = "setConfig"
args = [
    "<%= settings.chainAOAppAddress %>",
    "<%= settings.chainAReceiveLibAddress %>",
    [
        {eid = "<%= settings.chainBEid %>", configType = 2, config = "0x<%= settings.tupleOffset %><%= hexZeroPad(settings.chainALzConfirmations, 32).slice(2) %><%= hexZeroPad(settings.lzRequiredDVNCount, 32).slice(2) %><%= hexZeroPad(settings.lzOptionalDVNCount, 32).slice(2) %><%= hexZeroPad(settings.lzOptionalDVNThreshold, 32).slice(2) %><%= settings.requiredDVNsOffset %><%= settings.optionalDVNsOffset %><%= hexZeroPad(settings.lzRequiredDVNCount, 32).slice(2) %><%= settings.addressPadding %><%= settings.chainALzRequiredDVN1.slice(2) %><%= settings.optionalDVNsLength %>"}
    ]
]
depends = ["invoke.lz_set_source_send_config", "var.config_encoding", "var.lz_endpoint_abi"]