[invoke.deusd_global_collateral_config]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setGlobalCollateralConfig"
args = [
    "<%= contracts.DEUSDProxy.address %>",
    { collateralAdapter = "<%= settings.deusdCollateralAdapter %>", withdrawalWindowSize = "<%= settings.deusdWithdrawalWindowSize %>", withdrawalTvlPercentageLimit = "<%= parseEther(settings.deusdWithdrawalTvlPercentageLimitUnscaled)  %>" },
]
depends = [
    'invoke.upgrade_core_proxy',
    'invoke.upgrade_deusd_proxy',
    'var.global_collateral_configs',
]

[invoke.deusd_auto_exchange_access]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = [
    "<%= keccak256(defaultAbiCoder.encode(['bytes32','address'],[keccak256(hexlify('autoExchange')), contracts.DEUSDProxy.address])) %>",
    true,
]
depends = ["invoke.upgrade_core_proxy"]

[invoke.deusd_rusd_create_spot_market]
target = ["CoreProxy"]
abi = "<%= JSON.stringify(contracts.CoreProxy.abi.concat({'type':'event','name':'SpotMarketInfoUpdated','inputs':[{'name':'eventSequenceNumber','type':'uint128','indexed':true,'internalType':'uint128'},{'name':'spotMarketId','type':'uint128','indexed':true,'internalType':'uint128'},{'name':'baseToken','type':'address','indexed':false,'internalType':'address'},{'name':'quoteToken','type':'address','indexed':false,'internalType':'address'},{'name':'symbol','type':'string','indexed':false,'internalType':'string'},{'name':'config','type':'tuple','indexed':false,'internalType':'struct SpotMarketConfig','components':[{'name':'oracleDeviation','type':'uint256','internalType':'UD60x18'},{'name':'minimumOrderBase','type':'uint256','internalType':'UD60x18'},{'name':'baseSpacing','type':'uint256','internalType':'UD60x18'},{'name':'priceSpacing','type':'uint256','internalType':'UD60x18'}]},{'name':'blockTimestamp','type':'uint256','indexed':false,'internalType':'uint256'}],'anonymous':false})) %>"
fromCall.func = "owner"
func = "createSpotMarket"
args = [
    "<%= contracts.DEUSDProxy.address %>",
    "<%= contracts.RUSDProxy.address %>",
    "DEUSD/RUSD"
]
var.deusdRusdSpotMarketId.event = "SpotMarketInfoUpdated"
var.deusdRusdSpotMarketId.arg = 1
depends = ["invoke.upgrade_core_proxy"]

[invoke.deusd_rusd_configure_spot_market]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setSpotMarketConfiguration"
args = [
    "<%= settings.deusdRusdSpotMarketId %>",
    { oracleDeviation = "<%= parseEther(settings.deusdRusdSpot_oracleDeviationUnscaled) %>", minimumOrderBase = "<%= parseEther(settings.deusdRusdSpot_minimumOrderBaseUnscaled) %>", baseSpacing = "<%= parseEther(settings.deusdRusdSpot_baseSpacingUnscaled) %>", priceSpacing = "<%= parseEther(settings.deusdRusdSpot_priceSpacingUnscaled) %>"}
]
depends = ["invoke.upgrade_core_proxy", "invoke.deusd_rusd_create_spot_market"]