[invoke.sdeusd_global_collateral_config]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setGlobalCollateralConfig"
args = [
    "<%= contracts.SDEUSDProxy.address %>",
    { collateralAdapter = "<%= settings.sdeusdCollateralAdapter %>", withdrawalWindowSize = "<%= settings.sdeusdWithdrawalWindowSize %>", withdrawalTvlPercentageLimit = "<%= parseEther(settings.sdeusdWithdrawalTvlPercentageLimitUnscaled)  %>" },
]
depends = [
    'invoke.upgrade_core_proxy',
    'invoke.upgrade_sdeusd_proxy',
    'var.global_collateral_configs',
]

[invoke.sdeusd_auto_exchange_access]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = [
    "<%= keccak256(defaultAbiCoder.encode(['bytes32','address'],[keccak256(hexlify('autoExchange')), contracts.SDEUSDProxy.address])) %>",
    true,
]
depends = ["invoke.upgrade_core_proxy"]

[invoke.i_sdeusd_rusd_create_spot_market]
target = ["CoreProxy"]
abi = "<%= JSON.stringify(contracts.CoreProxy.abi.concat({'type':'event','name':'SpotMarketInfoUpdated','inputs':[{'name':'eventSequenceNumber','type':'uint128','indexed':true,'internalType':'uint128'},{'name':'spotMarketId','type':'uint128','indexed':true,'internalType':'uint128'},{'name':'baseToken','type':'address','indexed':false,'internalType':'address'},{'name':'quoteToken','type':'address','indexed':false,'internalType':'address'},{'name':'symbol','type':'string','indexed':false,'internalType':'string'},{'name':'config','type':'tuple','indexed':false,'internalType':'struct SpotMarketConfig','components':[{'name':'oracleDeviation','type':'uint256','internalType':'UD60x18'},{'name':'minimumOrderBase','type':'uint256','internalType':'UD60x18'},{'name':'baseSpacing','type':'uint256','internalType':'UD60x18'},{'name':'priceSpacing','type':'uint256','internalType':'UD60x18'},{'name':'oracleNodeId','type':'bytes32','internalType':'bytes32'}]},{'name':'blockTimestamp','type':'uint256','indexed':false,'internalType':'uint256'}],'anonymous':false})) %>"
fromCall.func = "owner"
func = "createSpotMarket"
args = [
    "<%= contracts.SDEUSDProxy.address %>",
    "<%= contracts.RUSDProxy.address %>",
    "SDEUSDRUSD",
]
var.sdeusdRusdSpotMarketId.event = "SpotMarketInfoUpdated"
var.sdeusdRusdSpotMarketId.arg = 1
depends = ["invoke.upgrade_core_proxy"]

[invoke.sdeusd_rusd_configure_spot_market]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setSpotMarketConfiguration"
args = [
    "<%= settings.sdeusdRusdSpotMarketId %>",
    { oracleDeviation = "<%= parseEther(settings.sdeusdRusdSpot_oracleDeviationUnscaled) %>", minimumOrderBase = "<%= parseEther(settings.sdeusdRusdSpot_minimumOrderBaseUnscaled) %>", baseSpacing = "<%= parseEther(settings.sdeusdRusdSpot_baseSpacingUnscaled) %>", priceSpacing = "<%= parseEther(settings.sdeusdRusdSpot_priceSpacingUnscaled) %>", oracleNodeId = "<%= settings.sdeusdRusdSpot_oracleNodeId %>" },
]
depends = [
    "invoke.upgrade_core_proxy",
    "invoke.i_sdeusd_rusd_create_spot_market",
]
