[invoke.srusd_global_collateral_config]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setGlobalCollateralConfig"
args = [
    "<%= contracts.SRUSDProxy.address %>",
    { collateralAdapter = "<%= settings.srusdCollateralAdapter %>", withdrawalWindowSize = "<%= settings.srusdWithdrawalWindowSize %>", withdrawalTvlPercentageLimit = "<%= parseEther(settings.srusdWithdrawalTvlPercentageLimitUnscaled)  %>" },
]
depends = [
    'invoke.upgrade_core_proxy',
    'invoke.upgrade_srusd_proxy',
    'var.global_collateral_configs',
]

[invoke.srusd_auto_exchange_access]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "addToFeatureFlagAllowlist"
args = [
    "<%= keccak256(defaultAbiCoder.encode(['bytes32','address'],[keccak256(hexlify('autoExchange')), contracts.SRUSDProxy.address])) %>",
    "<%= settings.passivePoolProxy %>",
]
depends = ["invoke.upgrade_core_proxy"]

[invoke.srusd_rusd_create_spot_market]
target = ["CoreProxy"]
abi = "<%= JSON.stringify(contracts.CoreProxy.abi.concat({'type':'event','name':'SpotMarketInfoUpdated','inputs':[{'name':'eventSequenceNumber','type':'uint128','indexed':true,'internalType':'uint128'},{'name':'spotMarketId','type':'uint128','indexed':true,'internalType':'uint128'},{'name':'baseToken','type':'address','indexed':false,'internalType':'address'},{'name':'quoteToken','type':'address','indexed':false,'internalType':'address'},{'name':'symbol','type':'string','indexed':false,'internalType':'string'},{'name':'config','type':'tuple','indexed':false,'internalType':'struct SpotMarketConfig','components':[{'name':'oracleDeviation','type':'uint256','internalType':'UD60x18'},{'name':'minimumOrderBase','type':'uint256','internalType':'UD60x18'},{'name':'baseSpacing','type':'uint256','internalType':'UD60x18'},{'name':'priceSpacing','type':'uint256','internalType':'UD60x18'}]},{'name':'blockTimestamp','type':'uint256','indexed':false,'internalType':'uint256'}],'anonymous':false})) %>"
fromCall.func = "owner"
func = "createSpotMarket"
args = [
    "<%= contracts.SRUSDProxy.address %>",
    "<%= contracts.RUSDProxy.address %>",
    "SRUSD/RUSD"
]
var.srusdRusdSpotMarketId.event = "SpotMarketInfoUpdated"
var.srusdRusdSpotMarketId.arg = 1
depends = ["invoke.upgrade_core_proxy"]

[invoke.srusd_rusd_configure_spot_market]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setSpotMarketConfiguration"
args = [
    "<%= settings.srusdRusdSpotMarketId %>",
    { oracleDeviation = "<%= parseEther(settings.srusdRusdSpot_oracleDeviationUnscaled) %>", minimumOrderBase = "<%= parseEther(settings.srusdRusdSpot_minimumOrderBaseUnscaled) %>", baseSpacing = "<%= parseEther(settings.srusdRusdSpot_baseSpacingUnscaled) %>", priceSpacing = "<%= parseEther(settings.srusdRusdSpot_priceSpacingUnscaled) %>"}
]
depends = ["invoke.upgrade_core_proxy", "invoke.srusd_rusd_create_spot_market"]
