[invoke.wsteth_global_collateral_config]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setGlobalCollateralConfig"
args = [
    "<%= contracts.WSTETHProxy.address %>",
    { collateralAdapter = "<%= settings.wstethCollateralAdapter %>", withdrawalWindowSize = "<%= settings.wstethWithdrawalWindowSize %>", withdrawalTvlPercentageLimit = "<%= parseEther(settings.wstethWithdrawalTvlPercentageLimitUnscaled)  %>" },
]
depends = [
    'invoke.upgrade_core_proxy',
    'invoke.upgrade_wsteth_proxy',
    'var.global_collateral_configs',
]

[invoke.wsteth_auto_exchange_access]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = [
    "<%= keccak256(defaultAbiCoder.encode(['bytes32','address'],[keccak256(hexlify('autoExchange')), contracts.WSTETHProxy.address])) %>",
    true,
]
depends = ["invoke.upgrade_core_proxy"]

[invoke.f_wsteth_rusd_create_spot_market]
target = ["CoreProxy"]
abi = "<%= JSON.stringify(contracts.CoreProxy.abi.concat({'type':'event','name':'SpotMarketInfoUpdated','inputs':[{'name':'eventSequenceNumber','type':'uint128','indexed':true,'internalType':'uint128'},{'name':'spotMarketId','type':'uint128','indexed':true,'internalType':'uint128'},{'name':'baseToken','type':'address','indexed':false,'internalType':'address'},{'name':'quoteToken','type':'address','indexed':false,'internalType':'address'},{'name':'symbol','type':'string','indexed':false,'internalType':'string'},{'name':'config','type':'tuple','indexed':false,'internalType':'struct SpotMarketConfig','components':[{'name':'oracleDeviation','type':'uint256','internalType':'UD60x18'},{'name':'minimumOrderBase','type':'uint256','internalType':'UD60x18'},{'name':'baseSpacing','type':'uint256','internalType':'UD60x18'},{'name':'priceSpacing','type':'uint256','internalType':'UD60x18'},{'name':'oracleNodeId','type':'bytes32','internalType':'bytes32'}]},{'name':'blockTimestamp','type':'uint256','indexed':false,'internalType':'uint256'}],'anonymous':false})) %>"
fromCall.func = "owner"
func = "createSpotMarket"
args = [
    "<%= contracts.WSTETHProxy.address %>",
    "<%= contracts.RUSDProxy.address %>",
    "WSTETHRUSD"
]
var.wstethRusdSpotMarketId.event = "SpotMarketInfoUpdated"
var.wstethRusdSpotMarketId.arg = 1
depends = ["invoke.upgrade_core_proxy"]

[invoke.wsteth_rusd_configure_spot_market]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "setSpotMarketConfiguration"
args = [
    "<%= settings.wstethRusdSpotMarketId %>",
    { oracleDeviation = "<%= parseEther(settings.wstethRusdSpot_oracleDeviationUnscaled) %>", minimumOrderBase = "<%= parseEther(settings.wstethRusdSpot_minimumOrderBaseUnscaled) %>", baseSpacing = "<%= parseEther(settings.wstethRusdSpot_baseSpacingUnscaled) %>", priceSpacing = "<%= parseEther(settings.wstethRusdSpot_priceSpacingUnscaled) %>", oracleNodeId = "<%= settings.wstethRusdSpot_oracleNodeId %>" }
]
depends = ["invoke.upgrade_core_proxy", "invoke.f_wsteth_rusd_create_spot_market"]
