name: Reya Deployments CI/CD
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  reya-deployments-check:
    name: Reya Deployments Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"
        with:
          version: v1.2.3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - name: "Install the Node.js dependencies"
        run: "yarn"
      - name: Lint Check
        run: "yarn lint:check"
      - name: Build
        run: "yarn build"
      - name: Reya Network Cannon Test
        env:
          RPC_KEY: ${{ secrets.RPC_KEY }}
        run: "yarn reya_network:test"
      - name: TGE Reya Network Cannon Test
        env:
          RPC_KEY: ${{ secrets.RPC_KEY }}
        run: "yarn tge:reya_mainnet:test"
      - name: Ethereum Mainnet Cannon Test
        run: "yarn tge:ethereum_mainnet:test"
      - name: Reya Cronos Cannon Test
        env:
          RPC_KEY: ${{ secrets.RPC_KEY }}
        run: "yarn reya_cronos:test"
      - name: TGE Reya Cronos Cannon Test
        env:
          RPC_KEY: ${{ secrets.RPC_KEY }}
        run: "yarn tge:reya_cronos:test"      
      - name: Ethereum Sepolia Cannon Test
        run: "yarn tge:ethereum_sepolia:test"
  